@font-face {
  font-family: "ghastly_panic";
  src: url("/fonts/ghastly_panic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.ghastly-font {
  font-family: "ghastly_panic", sans-serif;
}

.backgrounds {
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease;
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  color: #0000;
  background: linear-gradient(90deg, #b00000 calc(50% + 0.5ch), #000 0)
    right/calc(200% + 1ch) 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: l7 2s infinite steps(11);
  font-family: "ghastly_panic", sans-serif;
}
.loader:before {
  content: "L o a d i n g . . .";
}
@keyframes l7 {
  to {
    background-position: left;
  }
}
